Importing the libraries and Creating SparkSession

In [1]:
import pandas as pd
from pyspark.sql.functions import col, sum
import pyspark.sql.functions as F
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.functions import vector_to_array
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Income Prediction").config("spark.memory.offHeap.enabled", "true").config("spark.memory.offHeap.size", "10g").getOrCreate()

Reading my data and putting it into a dataframe

In [2]:
df1 = spark.read.csv(
    "adult test.csv",
    header=True,
    inferSchema=True,
    sep=",",
    quote="\"",
    escape="\""
)
df1.show(5, truncate=False)
df1.printSchema()

+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+
|Age|workclass |fnlwgt|education    |education-num|marital-status     |occupation        |relationship|race  |sex    |capital-gain|capital-loss |hours-per-week|native-country|label  |
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+
|25 | Private  |226802| 11th        |7            | Never-married     | Machine-op-inspct| Own-child  | Black| Male  |0           |0            |40            | United-States| <=50K.|
|38 | Private  |89814 | HS-grad     |9            | Married-civ-spouse| Farming-fishing  | Husband    | White| Male  |0           |0            |50            | United-States| <=50K.|
|28 | Local-gov|336951| Assoc-acdm  |12           | Married-civ-spouse| Protective-serv  | Husband    | White| Male  |0           |0            |40            | United-States| >50K. |
|44 | Private  |160323| Some-college|10           | Married-civ-spouse| Machine-op-inspct| Husband    | Black| Male  |7688        |0            |40            | United-States| >50K. |
|18 | ?        |103497| Some-college|10           | Never-married     | ?                | Own-child  | White| Female|0           |0            |30            | United-States| <=50K.|
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+
only showing top 5 rows

root
 |-- Age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss : integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- label: string (nullable = true)

In [3]:
#from pyspark.sql.types import StructType, StructField, IntegerType, StringType

#schema = StructType([
 #   StructField("age", IntegerType(), True),
 #   StructField("workclass", StringType(), True),
 #   StructField("fnlwgt", IntegerType(), True),
 #   StructField("education", StringType(), True),
 #   StructField("education_num", IntegerType(), True),
 #   StructField("marital_status", StringType(), True),
 #   StructField("occupation", StringType(), True),
 #   StructField("relationship", StringType(), True),
 #   StructField("race", StringType(), True),
 #   StructField("sex", StringType(), True),
 #   StructField("capital_gain", IntegerType(), True),
 #   StructField("capital_loss", IntegerType(), True),
 #   StructField("hours_per_week", IntegerType(), True),
 #   StructField("native_country", StringType(), True),
 #   StructField("income", StringType(), True)
#])

#df = spark.read.csv(
 #   "adult test.csv",
  #  header=True,
 #   #schema=schema,
  #  sep=",",
  #  quote="\"",
  #  escape="\""
#)
#pandas_df = df.toPandas()
#pandas_df

In [4]:
df2 = spark.read.csv(
    "adult train.csv",
    header=True,
    inferSchema=True,
    sep=",",
    quote="\"",
    escape="\""
)
df2.show(5, truncate=False)
df2.printSchema()

+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|Age|workclass        |fnlwgt|education |education-num|marital-status     |occupation        |relationship  |race  |sex    |capital-gain|capital-loss|hours-per-week|native-country|label |
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|39 | State-gov       |77516 | Bachelors|13           | Never-married     | Adm-clerical     | Not-in-family| White| Male  |2174        |0           |40            | United-States| <=50K|
|50 | Self-emp-not-inc|83311 | Bachelors|13           | Married-civ-spouse| Exec-managerial  | Husband      | White| Male  |0           |0           |13            | United-States| <=50K|
|38 | Private         |215646| HS-grad  |9            | Divorced          | Handlers-cleaners| Not-in-family| White| Male  |0           |0           |40            | United-States| <=50K|
|53 | Private         |234721| 11th     |7            | Married-civ-spouse| Handlers-cleaners| Husband      | Black| Male  |0           |0           |40            | United-States| <=50K|
|28 | Private         |338409| Bachelors|13           | Married-civ-spouse| Prof-specialty   | Wife         | Black| Female|0           |0           |40            | Cuba         | <=50K|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
only showing top 5 rows

root
 |-- Age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship : string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- label: string (nullable = true)

EDA

In [5]:
df1.describe().show()

+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+--------------+-------+
|summary|               Age|   workclass|            fnlwgt|    education|    education-num|marital-status|       occupation|relationship|               race|    sex|      capital-gain|     capital-loss |    hours-per-week|native-country|  label|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+--------------+-------+
|  count|             16281|       16281|             16281|        16281|            16281|         16281|            16281|       16281|              16281|  16281|             16281|             16281|             16281|         16281|  16281|
|   mean| 38.76745900128985|        NULL| 189435.6777839199|         NULL|10.07290706959032|          NULL|             NULL|        NULL|               NULL|   NULL|1081.9051041090843| 87.89926908666544|40.392236349118605|          NULL|   NULL|
| stddev|13.849186814264337|        NULL|105714.90767083282|         NULL|2.567545258667684|          NULL|             NULL|        NULL|               NULL|   NULL| 7583.935967887075|403.10528562931256|12.479332247112266|          NULL|   NULL|
|    min|                17|           ?|             13492|         10th|                1|      Divorced|                ?|     Husband| Amer-Indian-Eskimo| Female|                 0|                 0|                 1|             ?| <=50K.|
|    max|                90| Without-pay|           1490400| Some-college|               16|       Widowed| Transport-moving|        Wife|              White|   Male|             99999|              3770|                99|    Yugoslavia|  >50K.|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+--------------+-------+

In [6]:
df2.describe().show()

+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+-------------+-------------------+-------+------------------+----------------+------------------+--------------+------+
|summary|               Age|   workclass|            fnlwgt|    education|    education-num|marital-status|       occupation|relationship |               race|    sex|      capital-gain|    capital-loss|    hours-per-week|native-country| label|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+-------------+-------------------+-------+------------------+----------------+------------------+--------------+------+
|  count|             32561|       32561|             32561|        32561|            32561|         32561|            32561|        32561|              32561|  32561|             32561|           32561|             32561|         32561| 32561|
|   mean| 38.58164675532078|        NULL|189778.36651208502|         NULL| 10.0806793403151|          NULL|             NULL|         NULL|               NULL|   NULL|1077.6488437087312| 87.303829734959|40.437455852092995|          NULL|  NULL|
| stddev|13.640432553581356|        NULL|105549.97769702227|         NULL|2.572720332067397|          NULL|             NULL|         NULL|               NULL|   NULL| 7385.292084840354|402.960218649002|12.347428681731838|          NULL|  NULL|
|    min|                17|           ?|             12285|         10th|                1|      Divorced|                ?|      Husband| Amer-Indian-Eskimo| Female|                 0|               0|                 1|             ?| <=50K|
|    max|                90| Without-pay|           1484705| Some-college|               16|       Widowed| Transport-moving|         Wife|              White|   Male|             99999|            4356|                99|    Yugoslavia|  >50K|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+-------------+-------------------+-------+------------------+----------------+------------------+--------------+------+

Data Preprocessing

Checking for missing values in dataframe 1 (adult test) & dataframe 2 (adult train)

In [7]:
df1.select([(F.sum(F.col(c).isNull().cast("int")).alias(c)) for c in df1.columns]).show()

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+-------------+--------------+--------------+-----+
|Age|workclass|fnlwgt|education|education-num|marital-status|occupation|relationship|race|sex|capital-gain|capital-loss |hours-per-week|native-country|label|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+-------------+--------------+--------------+-----+
|  0|        0|     0|        0|            0|             0|         0|           0|   0|  0|           0|            0|             0|             0|    0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+-------------+--------------+--------------+-----+

We can see from here that there are no missing values in df1

In [8]:
df2.select([(F.sum(F.col(c).isNull().cast("int")).alias(c)) for c in df2.columns]).show()

+---+---------+------+---------+-------------+--------------+----------+-------------+----+---+------------+------------+--------------+--------------+-----+
|Age|workclass|fnlwgt|education|education-num|marital-status|occupation|relationship |race|sex|capital-gain|capital-loss|hours-per-week|native-country|label|
+---+---------+------+---------+-------------+--------------+----------+-------------+----+---+------------+------------+--------------+--------------+-----+
|  0|        0|     0|        0|            0|             0|         0|            0|   0|  0|           0|           0|             0|             0|    0|
+---+---------+------+---------+-------------+--------------+----------+-------------+----+---+------------+------------+--------------+--------------+-----+

We can see from here that there are no missing values in df2 as well

Encoding categorical variables in both data frames

In [9]:
data = df1

#list of categorical columns to encode
categorical_columns = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country", "label"]

#Creating StringIndexers for each categorical column
indexers  = [
    StringIndexer(inputCol = col, outputCol = f"{col}_index")
    for col in categorical_columns
]

#Creating OneHotEncoders for each indexed columns
encoders = [
    OneHotEncoder(inputCol = f"{col}_index", outputCol = f"{col}_encoded")
    for col in categorical_columns
]

#Combining indexers and encoders to a pipeline
pipeline = Pipeline(stages = indexers + encoders)

#Fiting the pipeline to the data and transform it 
pipeline_model = pipeline.fit(data)
transformed_data = pipeline_model.transform(data)

#Showing the transformed dataframe
transformed_data.show(5, 0)

+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------+-----------------+-----------------+----------------------+------------------+--------------------+-------------+-------------+----------------------+-------------+
|Age|workclass |fnlwgt|education    |education-num|marital-status     |occupation        |relationship|race  |sex    |capital-gain|capital-loss |hours-per-week|native-country|label  |workclass_index|education_index|marital-status_index|occupation_index|relationship_index|race_index|sex_index|native-country_index|label_index|workclass_encoded|education_encoded|marital-status_encoded|occupation_encoded|relationship_encoded|race_encoded |sex_encoded  |native-country_encoded|label_encoded|
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------+-----------------+-----------------+----------------------+------------------+--------------------+-------------+-------------+----------------------+-------------+
|25 | Private  |226802| 11th        |7            | Never-married     | Machine-op-inspct| Own-child  | Black| Male  |0           |0            |40            | United-States| <=50K.|0.0            |5.0            |1.0                 |6.0             |2.0               |1.0       |0.0      |0.0                 |0.0        |(8,[0],[1.0])    |(15,[5],[1.0])   |(6,[1],[1.0])         |(14,[6],[1.0])    |(5,[2],[1.0])       |(4,[1],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[0],[1.0])|
|38 | Private  |89814 | HS-grad     |9            | Married-civ-spouse| Farming-fishing  | Husband    | White| Male  |0           |0            |50            | United-States| <=50K.|0.0            |0.0            |0.0                 |11.0            |0.0               |0.0       |0.0      |0.0                 |0.0        |(8,[0],[1.0])    |(15,[0],[1.0])   |(6,[0],[1.0])         |(14,[11],[1.0])   |(5,[0],[1.0])       |(4,[0],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[0],[1.0])|
|28 | Local-gov|336951| Assoc-acdm  |12           | Married-civ-spouse| Protective-serv  | Husband    | White| Male  |0           |0            |40            | United-States| >50K. |2.0            |6.0            |0.0                 |12.0            |0.0               |0.0       |0.0      |0.0                 |1.0        |(8,[2],[1.0])    |(15,[6],[1.0])   |(6,[0],[1.0])         |(14,[12],[1.0])   |(5,[0],[1.0])       |(4,[0],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[],[])    |
|44 | Private  |160323| Some-college|10           | Married-civ-spouse| Machine-op-inspct| Husband    | Black| Male  |7688        |0            |40            | United-States| >50K. |0.0            |1.0            |0.0                 |6.0             |0.0               |1.0       |0.0      |0.0                 |1.0        |(8,[0],[1.0])    |(15,[1],[1.0])   |(6,[0],[1.0])         |(14,[6],[1.0])    |(5,[0],[1.0])       |(4,[1],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[],[])    |
|18 | ?        |103497| Some-college|10           | Never-married     | ?                | Own-child  | White| Female|0           |0            |30            | United-States| <=50K.|3.0            |1.0            |1.0                 |7.0             |2.0               |0.0       |1.0      |0.0                 |0.0        |(8,[3],[1.0])    |(15,[1],[1.0])   |(6,[1],[1.0])         |(14,[7],[1.0])    |(5,[2],[1.0])       |(4,[0],[1.0])|(1,[],[])    |(40,[0],[1.0])        |(1,[0],[1.0])|
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------+-----------------+-----------------+----------------------+------------------+--------------------+-------------+-------------+----------------------+-------------+
only showing top 5 rows

In [10]:
data1 = df2

#list of categorical columns to encode
categorical_columns = ["workclass", "education", "marital-status", "occupation", "relationship ", "race", "sex", "native-country", "label"]

#Creating StringIndexers for each categorical column
indexers  = [
    StringIndexer(inputCol = col, outputCol = f"{col}_index")
    for col in categorical_columns
]

#Creating OneHotEncoders for each indexed columns
encoders = [
    OneHotEncoder(inputCol = f"{col}_index", outputCol = f"{col}_encoded")
    for col in categorical_columns
]

#Combining indexers and encoders to a pipeline
pipeline = Pipeline(stages = indexers + encoders)

#Fiting the pipeline to the data and transform it 
pipeline_model = pipeline.fit(data1)
#transformed_data = pipeline_model.transform(data1)

#Showing the transformed dataframe
transformed_data.show(5, 0)

+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------+-----------------+-----------------+----------------------+------------------+--------------------+-------------+-------------+----------------------+-------------+
|Age|workclass |fnlwgt|education    |education-num|marital-status     |occupation        |relationship|race  |sex    |capital-gain|capital-loss |hours-per-week|native-country|label  |workclass_index|education_index|marital-status_index|occupation_index|relationship_index|race_index|sex_index|native-country_index|label_index|workclass_encoded|education_encoded|marital-status_encoded|occupation_encoded|relationship_encoded|race_encoded |sex_encoded  |native-country_encoded|label_encoded|
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------+-----------------+-----------------+----------------------+------------------+--------------------+-------------+-------------+----------------------+-------------+
|25 | Private  |226802| 11th        |7            | Never-married     | Machine-op-inspct| Own-child  | Black| Male  |0           |0            |40            | United-States| <=50K.|0.0            |5.0            |1.0                 |6.0             |2.0               |1.0       |0.0      |0.0                 |0.0        |(8,[0],[1.0])    |(15,[5],[1.0])   |(6,[1],[1.0])         |(14,[6],[1.0])    |(5,[2],[1.0])       |(4,[1],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[0],[1.0])|
|38 | Private  |89814 | HS-grad     |9            | Married-civ-spouse| Farming-fishing  | Husband    | White| Male  |0           |0            |50            | United-States| <=50K.|0.0            |0.0            |0.0                 |11.0            |0.0               |0.0       |0.0      |0.0                 |0.0        |(8,[0],[1.0])    |(15,[0],[1.0])   |(6,[0],[1.0])         |(14,[11],[1.0])   |(5,[0],[1.0])       |(4,[0],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[0],[1.0])|
|28 | Local-gov|336951| Assoc-acdm  |12           | Married-civ-spouse| Protective-serv  | Husband    | White| Male  |0           |0            |40            | United-States| >50K. |2.0            |6.0            |0.0                 |12.0            |0.0               |0.0       |0.0      |0.0                 |1.0        |(8,[2],[1.0])    |(15,[6],[1.0])   |(6,[0],[1.0])         |(14,[12],[1.0])   |(5,[0],[1.0])       |(4,[0],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[],[])    |
|44 | Private  |160323| Some-college|10           | Married-civ-spouse| Machine-op-inspct| Husband    | Black| Male  |7688        |0            |40            | United-States| >50K. |0.0            |1.0            |0.0                 |6.0             |0.0               |1.0       |0.0      |0.0                 |1.0        |(8,[0],[1.0])    |(15,[1],[1.0])   |(6,[0],[1.0])         |(14,[6],[1.0])    |(5,[0],[1.0])       |(4,[1],[1.0])|(1,[0],[1.0])|(40,[0],[1.0])        |(1,[],[])    |
|18 | ?        |103497| Some-college|10           | Never-married     | ?                | Own-child  | White| Female|0           |0            |30            | United-States| <=50K.|3.0            |1.0            |1.0                 |7.0             |2.0               |0.0       |1.0      |0.0                 |0.0        |(8,[3],[1.0])    |(15,[1],[1.0])   |(6,[1],[1.0])         |(14,[7],[1.0])    |(5,[2],[1.0])       |(4,[0],[1.0])|(1,[],[])    |(40,[0],[1.0])        |(1,[0],[1.0])|
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------+-----------------+-----------------+----------------------+------------------+--------------------+-------------+-------------+----------------------+-------------+
only showing top 5 rows

Scaling our numerical features in both dataframes to a common scale

In [11]:
#list of numerical columns to scale
numerical_columns = ["Age", "fnlwgt", "education-num", "capital-gain","hours-per-week"]

#Assembling numerical columns into a feature vector
assembler = VectorAssembler(inputCols = numerical_columns, outputCol = "numerical_features")
df_vector = assembler.transform(data)

#Initialize the StandardScaler
scaler = StandardScaler(inputCol = "numerical_features", outputCol = "scaled_features", withMean = True, withStd  = True)

#Fit the scaler to the first dataframe and transform 
scaler_model = scaler.fit(df_vector)
df_scaled = scaler_model.transform(df_vector)

#Converting vector to an array column
df_final = df_scaled.withColumn("scaled_features_array", vector_to_array("scaled_features"))
for i, col_name in enumerate(numerical_columns):
    df_final = df_final.withColumn(f"scaled_{col_name}", df_final["scaled_features_array"][i])

#Drop intermediate columns
df_final = df_final.drop("numerical features", "scaled_features", "scaled_features_array")

In [12]:
df_final1.show(5, 0)

+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+--------------------------------+--------------------+--------------------+---------------------+--------------------+---------------------+
|Age|workclass |fnlwgt|education    |education-num|marital-status     |occupation        |relationship|race  |sex    |capital-gain|capital-loss |hours-per-week|native-country|label  |numerical_features              |scaled_Age          |scaled_fnlwgt       |scaled_education-num |scaled_capital-gain |scaled_hours-per-week|
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+--------------------------------+--------------------+--------------------+---------------------+--------------------+---------------------+
|25 | Private  |226802| 11th        |7            | Never-married     | Machine-op-inspct| Own-child  | Black| Male  |0           |0            |40            | United-States| <=50K.|[25.0,226802.0,7.0,0.0,40.0]    |-0.9940987283895891 |0.3534631305967589  |-1.1968268365344708  |-0.14265746819200895|-0.03143087637635291 |
|38 | Private  |89814 | HS-grad     |9            | Married-civ-spouse| Farming-fishing  | Husband    | White| Male  |0           |0            |50            | United-States| <=50K.|[38.0,89814.0,9.0,0.0,50.0]     |-0.05541545590962623|-0.9423616780153149 |-0.4178726999916886  |-0.14265746819200895|0.7698940504693134   |
|28 | Local-gov|336951| Assoc-acdm  |12           | Married-civ-spouse| Protective-serv  | Husband    | White| Male  |0           |0            |40            | United-States| >50K. |[28.0,336951.0,12.0,0.0,40.0]   |-0.7774795116634438 |1.3954070004525954  |0.7505585048224847   |-0.14265746819200895|-0.03143087637635291 |
|44 | Private  |160323| Some-college|10           | Married-civ-spouse| Machine-op-inspct| Husband    | Black| Male  |7688        |0            |40            | United-States| >50K. |[44.0,160323.0,10.0,7688.0,40.0]|0.3778229775426643  |-0.27538857503966224|-0.028395631720297507|0.871064170882155   |-0.03143087637635291 |
|18 | ?        |103497| Some-college|10           | Never-married     | ?                | Own-child  | White| Female|0           |0            |30            | United-States| <=50K.|[18.0,103497.0,10.0,0.0,30.0]   |-1.4995435674172615 |-0.8129286557342464 |-0.028395631720297507|-0.14265746819200895|-0.8327558032220191  |
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+--------------------------------+--------------------+--------------------+---------------------+--------------------+---------------------+
only showing top 5 rows

In [15]:
# List of numerical columns to scale
numerical_columns = ["Age", "fnlwgt", "education-num", "capital-gain", "hours-per-week"]

# Assembling numerical columns into a feature vector for data1
assembler = VectorAssembler(inputCols=numerical_columns, outputCol="numerical_features")
df_vector1 = assembler.transform(data1)

# Initialize the StandardScaler (reusing the same scaler as before)
scaler = StandardScaler(inputCol="numerical_features", outputCol="scaled_features", withMean=True, withStd=True)

# Fit the scaler to data1 and transform
scaler_model1 = scaler.fit(df_vector1)
df_scaled1 = scaler_model1.transform(df_vector1)

# Converting vector to an array column for data1
df_final1 = df_scaled1.withColumn("scaled_features_array", vector_to_array("scaled_features"))
for i, col_name in enumerate(numerical_columns):
    df_final1 = df_final1.withColumn(f"scaled_{col_name}", df_final1["scaled_features_array"][i])

# Drop intermediate columns for data1
df_final1 = df_final1.drop("numerical_features", "scaled_features", "scaled_features_array")

In [16]:
df_final1.show(5, 0)

+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+--------------------+-------------------+--------------------+--------------------+---------------------+
|Age|workclass        |fnlwgt|education |education-num|marital-status     |occupation        |relationship  |race  |sex    |capital-gain|capital-loss|hours-per-week|native-country|label |scaled_Age          |scaled_fnlwgt      |scaled_education-num|scaled_capital-gain |scaled_hours-per-week|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+--------------------+-------------------+--------------------+--------------------+---------------------+
|39 | State-gov       |77516 | Bachelors|13           | Never-married     | Adm-clerical     | Not-in-family| White| Male  |2174        |0           |40            | United-States| <=50K|0.03067008637999638 |-1.0635944124434717|1.1347213388479223  |0.14845061558793698 |-0.035428902921321385|
|50 | Self-emp-not-inc|83311 | Bachelors|13           | Married-civ-spouse| Exec-managerial  | Husband      | White| Male  |0           |0           |13            | United-States| <=50K|0.8370961257882483  |-1.0086915112165824|1.1347213388479223  |-0.14591824281680124|-2.2221189981592726  |
|38 | Private         |215646| HS-grad  |9            | Divorced          | Handlers-cleaners| Not-in-family| White| Male  |0           |0           |40            | United-States| <=50K|-0.04264137174802653|0.24507474139090998|-0.4200531736175132 |-0.14591824281680124|-0.035428902921321385|
|53 | Private         |234721| 11th     |7            | Married-civ-spouse| Handlers-cleaners| Husband      | Black| Male  |0           |0           |40            | United-States| <=50K|1.057030500172317   |0.4257948174742433 |-1.197440429850231  |-0.14591824281680124|-0.035428902921321385|
|28 | Private         |338409| Bachelors|13           | Married-civ-spouse| Prof-specialty   | Wife         | Black| Female|0           |0           |40            | Cuba         | <=50K|-0.7757559530282556 |1.4081540965792847 |1.1347213388479223  |-0.14591824281680124|-0.035428902921321385|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+--------------------+-------------------+--------------------+--------------------+---------------------+
only showing top 5 rows