Importing the libraries and Creating SparkSession

In [1]:
import pandas as pd
from pyspark.sql.functions import col, sum
import pyspark.sql.functions as F
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.functions import vector_to_array
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Income Prediction").config("spark.memory.offHeap.enabled", "true").config("spark.memory.offHeap.size", "10g").getOrCreate()

Reading my data and putting it into a dataframe

In [2]:
df1 = spark.read.csv(
    "adult test.csv",
    header=True,
    inferSchema=True,
    sep=",",
    quote="\"",
    escape="\""
)
df1.show(5, truncate=False)
df1.printSchema()

+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+
|Age|workclass |fnlwgt|education    |education-num|marital-status     |occupation        |relationship|race  |sex    |capital-gain|capital-loss |hours-per-week|native-country|label  |
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+
|25 | Private  |226802| 11th        |7            | Never-married     | Machine-op-inspct| Own-child  | Black| Male  |0           |0            |40            | United-States| <=50K.|
|38 | Private  |89814 | HS-grad     |9            | Married-civ-spouse| Farming-fishing  | Husband    | White| Male  |0           |0            |50            | United-States| <=50K.|
|28 | Local-gov|336951| Assoc-acdm  |12           | Married-civ-spouse| Protective-serv  | Husband    | White| Male  |0           |0            |40            | United-States| >50K. |
|44 | Private  |160323| Some-college|10           | Married-civ-spouse| Machine-op-inspct| Husband    | Black| Male  |7688        |0            |40            | United-States| >50K. |
|18 | ?        |103497| Some-college|10           | Never-married     | ?                | Own-child  | White| Female|0           |0            |30            | United-States| <=50K.|
+---+----------+------+-------------+-------------+-------------------+------------------+------------+------+-------+------------+-------------+--------------+--------------+-------+
only showing top 5 rows

root
 |-- Age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss : integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- label: string (nullable = true)

In [3]:
#from pyspark.sql.types import StructType, StructField, IntegerType, StringType

#schema = StructType([
 #   StructField("age", IntegerType(), True),
 #   StructField("workclass", StringType(), True),
 #   StructField("fnlwgt", IntegerType(), True),
 #   StructField("education", StringType(), True),
 #   StructField("education_num", IntegerType(), True),
 #   StructField("marital_status", StringType(), True),
 #   StructField("occupation", StringType(), True),
 #   StructField("relationship", StringType(), True),
 #   StructField("race", StringType(), True),
 #   StructField("sex", StringType(), True),
 #   StructField("capital_gain", IntegerType(), True),
 #   StructField("capital_loss", IntegerType(), True),
 #   StructField("hours_per_week", IntegerType(), True),
 #   StructField("native_country", StringType(), True),
 #   StructField("income", StringType(), True)
#])

#df = spark.read.csv(
 #   "adult test.csv",
  #  header=True,
 #   #schema=schema,
  #  sep=",",
  #  quote="\"",
  #  escape="\""
#)
#pandas_df = df.toPandas()
#pandas_df

In [4]:
df2 = spark.read.csv(
    "adult train.csv",
    header=True,
    inferSchema=True,
    sep=",",
    quote="\"",
    escape="\""
)
df2.show(5, truncate=False)
df2.printSchema()

+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|Age|workclass        |fnlwgt|education |education-num|marital-status     |occupation        |relationship  |race  |sex    |capital-gain|capital-loss|hours-per-week|native-country|label |
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|39 | State-gov       |77516 | Bachelors|13           | Never-married     | Adm-clerical     | Not-in-family| White| Male  |2174        |0           |40            | United-States| <=50K|
|50 | Self-emp-not-inc|83311 | Bachelors|13           | Married-civ-spouse| Exec-managerial  | Husband      | White| Male  |0           |0           |13            | United-States| <=50K|
|38 | Private         |215646| HS-grad  |9            | Divorced          | Handlers-cleaners| Not-in-family| White| Male  |0           |0           |40            | United-States| <=50K|
|53 | Private         |234721| 11th     |7            | Married-civ-spouse| Handlers-cleaners| Husband      | Black| Male  |0           |0           |40            | United-States| <=50K|
|28 | Private         |338409| Bachelors|13           | Married-civ-spouse| Prof-specialty   | Wife         | Black| Female|0           |0           |40            | Cuba         | <=50K|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
only showing top 5 rows

root
 |-- Age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship : string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- label: string (nullable = true)

EDA

In [5]:
df1.describe().show()

+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+--------------+-------+
|summary|               Age|   workclass|            fnlwgt|    education|    education-num|marital-status|       occupation|relationship|               race|    sex|      capital-gain|     capital-loss |    hours-per-week|native-country|  label|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+--------------+-------+
|  count|             16281|       16281|             16281|        16281|            16281|         16281|            16281|       16281|              16281|  16281|             16281|             16281|             16281|         16281|  16281|
|   mean| 38.76745900128985|        NULL| 189435.6777839199|         NULL|10.07290706959032|          NULL|             NULL|        NULL|               NULL|   NULL|1081.9051041090843| 87.89926908666544|40.392236349118605|          NULL|   NULL|
| stddev|13.849186814264337|        NULL|105714.90767083282|         NULL|2.567545258667684|          NULL|             NULL|        NULL|               NULL|   NULL| 7583.935967887075|403.10528562931256|12.479332247112266|          NULL|   NULL|
|    min|                17|           ?|             13492|         10th|                1|      Divorced|                ?|     Husband| Amer-Indian-Eskimo| Female|                 0|                 0|                 1|             ?| <=50K.|
|    max|                90| Without-pay|           1490400| Some-college|               16|       Widowed| Transport-moving|        Wife|              White|   Male|             99999|              3770|                99|    Yugoslavia|  >50K.|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+--------------+-------+

In [6]:
df2.describe().show()

+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+-------------+-------------------+-------+------------------+----------------+------------------+--------------+------+
|summary|               Age|   workclass|            fnlwgt|    education|    education-num|marital-status|       occupation|relationship |               race|    sex|      capital-gain|    capital-loss|    hours-per-week|native-country| label|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+-------------+-------------------+-------+------------------+----------------+------------------+--------------+------+
|  count|             32561|       32561|             32561|        32561|            32561|         32561|            32561|        32561|              32561|  32561|             32561|           32561|             32561|         32561| 32561|
|   mean| 38.58164675532078|        NULL|189778.36651208502|         NULL| 10.0806793403151|          NULL|             NULL|         NULL|               NULL|   NULL|1077.6488437087312| 87.303829734959|40.437455852092995|          NULL|  NULL|
| stddev|13.640432553581356|        NULL|105549.97769702227|         NULL|2.572720332067397|          NULL|             NULL|         NULL|               NULL|   NULL| 7385.292084840354|402.960218649002|12.347428681731838|          NULL|  NULL|
|    min|                17|           ?|             12285|         10th|                1|      Divorced|                ?|      Husband| Amer-Indian-Eskimo| Female|                 0|               0|                 1|             ?| <=50K|
|    max|                90| Without-pay|           1484705| Some-college|               16|       Widowed| Transport-moving|         Wife|              White|   Male|             99999|            4356|                99|    Yugoslavia|  >50K|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+-------------+-------------------+-------+------------------+----------------+------------------+--------------+------+

Data Preprocessing

Checking for missing values in dataframe 1 (adult test) & dataframe 2 (adult train)

In [7]:
df1.select([(F.sum(F.col(c).isNull().cast("int")).alias(c)) for c in df1.columns]).show()

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+-------------+--------------+--------------+-----+
|Age|workclass|fnlwgt|education|education-num|marital-status|occupation|relationship|race|sex|capital-gain|capital-loss |hours-per-week|native-country|label|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+-------------+--------------+--------------+-----+
|  0|        0|     0|        0|            0|             0|         0|           0|   0|  0|           0|            0|             0|             0|    0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+-------------+--------------+--------------+-----+

We can see from here that there are no missing values in df1

In [8]:
df2.select([(F.sum(F.col(c).isNull().cast("int")).alias(c)) for c in df2.columns]).show()

+---+---------+------+---------+-------------+--------------+----------+-------------+----+---+------------+------------+--------------+--------------+-----+
|Age|workclass|fnlwgt|education|education-num|marital-status|occupation|relationship |race|sex|capital-gain|capital-loss|hours-per-week|native-country|label|
+---+---------+------+---------+-------------+--------------+----------+-------------+----+---+------------+------------+--------------+--------------+-----+
|  0|        0|     0|        0|            0|             0|         0|            0|   0|  0|           0|           0|             0|             0|    0|
+---+---------+------+---------+-------------+--------------+----------+-------------+----+---+------------+------------+--------------+--------------+-----+

We can see from here that there are no missing values in df2 as well

Encoding categorical variables in both data frames

In [9]:
data = df1

#list of categorical columns to encode
categorical_columns = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

#Creating StringIndexers for each categorical column
indexers  = [
    StringIndexer(inputCol = col, outputCol = f"{col}_index")
    for col in categorical_columns
]

#Creating OneHotEncoders for each indexed columns
encoders = [
    OneHotEncoder(inputCol = f"{col}_index", outputCol = f"{col}_encoded")
    for col in categorical_columns
]

# Adding StringIndexer for the label column separately
label_indexer = StringIndexer(inputCol="label", outputCol="label_index")

#Combining indexers and encoders to a pipeline
pipeline = Pipeline(stages = indexers + [label_indexer] +  encoders)

#Fiting the pipeline to the data and transform it 
pipeline_model = pipeline.fit(data)
transformed_data = pipeline_model.transform(data)

# Create a list of the encoded feature column names for later use
encoded_feature_cols = [f"{col}_encoded" for col in categorical_columns]

#Showing the transformed dataframe

# Setting pandas display option to show all columns
pd.set_option("display.max_columns", None)

# Displaying the transformed dataframe
x = transformed_data.toPandas()
x.head()

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label,workclass_index,education_index,marital-status_index,occupation_index,relationship_index,race_index,sex_index,native-country_index,label_index,workclass_encoded,education_encoded,marital-status_encoded,occupation_encoded,relationship_encoded,race_encoded,sex_encoded,native-country_encoded
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.,0.0,5.0,1.0,6.0,2.0,1.0,0.0,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.,2.0,6.0,0.0,12.0,0.0,0.0,0.0,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.,0.0,1.0,0.0,6.0,0.0,1.0,0.0,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.,3.0,1.0,1.0,7.0,2.0,0.0,1.0,0.0,0.0,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(0.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [10]:
x.columns

Index(['Age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss ', 'hours-per-week', 'native-country',
       'label', 'workclass_index', 'education_index', 'marital-status_index',
       'occupation_index', 'relationship_index', 'race_index', 'sex_index',
       'native-country_index', 'label_index', 'workclass_encoded',
       'education_encoded', 'marital-status_encoded', 'occupation_encoded',
       'relationship_encoded', 'race_encoded', 'sex_encoded',
       'native-country_encoded'],
      dtype='object')

In [11]:
data1 = df2

#list of categorical columns to encode
categorical_columns = ["workclass", "education", "marital-status", "occupation", "relationship ", "race", "sex", "native-country"]

#Creating StringIndexers for each categorical column
indexers  = [
    StringIndexer(inputCol = col, outputCol = f"{col}_index")
    for col in categorical_columns
]

#Creating OneHotEncoders for each indexed columns
encoders = [
    OneHotEncoder(inputCol = f"{col}_index", outputCol = f"{col}_encoded")
    for col in categorical_columns
]

# Adding a StringIndexer for the label column separately
label_indexer = StringIndexer(inputCol="label", outputCol="label_index")

#Combining indexers and encoders to a pipeline
pipeline = Pipeline(stages = indexers + [label_indexer] + encoders)

#Fiting the pipeline to the data and transform it 
pipeline_model = pipeline.fit(data1)
transformed_data = pipeline_model.transform(data1)

# Create a list of the encoded feature column names for later use
encoded_feature_cols = [f"{col}_encoded" for col in categorical_columns]

# Setting pandas display option to show all columns
pd.set_option("display.max_columns", None)

# Displaying the transformed dataframe
y = transformed_data.toPandas()
y.head()

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label,workclass_index,education_index,marital-status_index,occupation_index,relationship _index,race_index,sex_index,native-country_index,label_index,workclass_encoded,education_encoded,marital-status_encoded,occupation_encoded,relationship _encoded,race_encoded,sex_encoded,native-country_encoded
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,4.0,2.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0.0,0.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0.0,5.0,0.0,9.0,0.0,1.0,0.0,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0.0,2.0,0.0,0.0,4.0,1.0,1.0,9.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0)","(0.0, 1.0, 0.0, 0.0)",(0.0),"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

Scaling our numerical features in both dataframes to a common scale

In [12]:
#list of numerical columns to scale
numerical_columns = ["Age", "fnlwgt", "education-num", "capital-gain","hours-per-week"]

#Assembling numerical columns into a feature vector
assembler = VectorAssembler(inputCols = numerical_columns, outputCol = "numerical_features")
df_vector = assembler.transform(data)

#Initialize the StandardScaler
scaler = StandardScaler(inputCol = "numerical_features", outputCol = "scaled_features", withMean = True, withStd  = True)

#Fit the scaler to the first dataframe and transform 
scaler_model = scaler.fit(df_vector)
df_scaled = scaler_model.transform(df_vector)

#Converting vector to an array column
df_final = df_scaled.withColumn("scaled_features_array", vector_to_array("scaled_features"))
for i, col_name in enumerate(numerical_columns):
    df_final = df_final.withColumn(f"scaled_{col_name}", df_final["scaled_features_array"][i])

#Drop intermediate columns
df_final = df_final.drop("numerical features", "scaled_features", "scaled_features_array")

In [13]:
test_set = df_final.toPandas()
test_set

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label,numerical_features,scaled_Age,scaled_fnlwgt,scaled_education-num,scaled_capital-gain,scaled_hours-per-week
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.,"[25.0, 226802.0, 7.0, 0.0, 40.0]",-0.994099,0.353463,-1.196827,-0.142657,-0.031431
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.,"[38.0, 89814.0, 9.0, 0.0, 50.0]",-0.055415,-0.942362,-0.417873,-0.142657,0.769894
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.,"[28.0, 336951.0, 12.0, 0.0, 40.0]",-0.777480,1.395407,0.750559,-0.142657,-0.031431
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.,"[44.0, 160323.0, 10.0, 7688.0, 40.0]",0.377823,-0.275389,-0.028396,0.871064,-0.031431
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.,"[18.0, 103497.0, 10.0, 0.0, 30.0]",-1.499544,-0.812929,-0.028396,-0.142657,-0.832756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.,"[39.0, 215419.0, 13.0, 0.0, 36.0]",0.016791,0.245787,1.140036,-0.142657,-0.351961
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.,"[64.0, 321403.0, 9.0, 0.0, 40.0]",1.821951,1.248332,-0.417873,-0.142657,-0.031431
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.,"[38.0, 374983.0, 13.0, 0.0, 50.0]",-0.055415,1.755167,1.140036,-0.142657,0.769894
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.,"[44.0, 83891.0, 13.0, 5455.0, 40.0]",0.377823,-0.998390,1.140036,0.576626,-0.031431
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.,"[35.0, 182148.0, 13.0, 0.0, 60.0]",-0.272035,-0.068937,1.140036,-0.142657,1.571219

In [15]:
# List of numerical columns to scale
numerical_columns = ["Age", "fnlwgt", "education-num", "capital-gain", "hours-per-week"]

# Assembling numerical columns into a feature vector for data1
assembler = VectorAssembler(inputCols=numerical_columns, outputCol="numerical_features")
df_vector1 = assembler.transform(data1)

# Initialize the StandardScaler (reusing the same scaler as before)
scaler = StandardScaler(inputCol="numerical_features", outputCol="scaled_features", withMean=True, withStd=True)

# Fit the scaler to data1 and transform
scaler_model1 = scaler.fit(df_vector1)
df_scaled1 = scaler_model1.transform(df_vector1)

# Converting vector to an array column for data1
df_final1 = df_scaled1.withColumn("scaled_features_array", vector_to_array("scaled_features"))
for i, col_name in enumerate(numerical_columns):
    df_final1 = df_final1.withColumn(f"scaled_{col_name}", df_final1["scaled_features_array"][i])

# Drop intermediate columns for data1
df_final1 = df_final1.drop("numerical_features", "scaled_features", "scaled_features_array")

In [16]:
train_set = df_final1.toPandas()
train_set

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label,scaled_Age,scaled_fnlwgt,scaled_education-num,scaled_capital-gain,scaled_hours-per-week
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0.030670,-1.063594,1.134721,0.148451,-0.035429
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0.837096,-1.008692,1.134721,-0.145918,-2.222119
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,-0.042641,0.245075,-0.420053,-0.145918,-0.035429
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1.057031,0.425795,-1.197440,-0.145918,-0.035429
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,-0.775756,1.408154,1.134721,-0.145918,-0.035429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,-0.849067,0.639731,0.746028,-0.145918,-0.197406
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0.103982,-0.335428,-0.420053,-0.145918,-0.035429
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,1.423588,-0.358772,-0.420053,-0.145918,-0.035429
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,-1.215625,0.110958,-0.420053,-0.145918,-1.655199
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,0.983719,0.929878,-0.420053,1.888395,-0.035429

In [15]:
df_final1.columns

['Age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship ',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'label',
 'scaled_Age',
 'scaled_fnlwgt',
 'scaled_education-num',
 'scaled_capital-gain',
 'scaled_hours-per-week']

Perfroming cross validation on my train set to avoid the model from being high bias or high variance, meaning we want a our model to not just perform well on our training data but equally perform well on our test data

In [16]:
lr = LogisticRegression(featuresCol = "scaled_features", labelCol = "label_index")

#Buildimg a pipeline to combine the VectorAssembler, StandardScaler and LogisticRegression into a single workflow
pipeline = Pipeline(stages = [
    VectorAssembler(inputCols = numerical_columns, outputCol = "numerical_features"),
    StandardScaler(inputCol = "numerical_features", outputCol = "scaled_features", withMean = True, withStd = True),
    lr
])

#Defining the parameter grid for tuning
param_grid = ParamGridBuilder() \
    .addGrid(lr.regParam, [0.01, 0.1, 1.0]) \
    .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0]) \
    .build()

#Defining the evaluator
evaluator = BinaryClassificationEvaluator(labelCol = "label_index", metricName = "areaUnderROC")

#Defining the CrossValidator
cross_val = CrossValidator(estimator = pipeline,
                           estimatorParamMaps = param_grid,
                           evaluator = evaluator,
                           numFolds = 5, # Number of folds
                           parallelism = 2) # Parallelism for faster processing


# Perform cross-validation and fit the best model on the training data
cv_model = cross_val.fit(data1)  # Use your pre-split training data

# Retrieve the best model from cross-validation
best_model = cv_model.bestModel

# Make predictions on the test data (use your pre-split test data here)
predictions = best_model.transform(data)  # Use your existing test data

# Evaluate the performance on the test set
roc_auc = evaluator.evaluate(predictions)
print(f"Best Model AUC on Test Data: {roc_auc}")

IllegalArgumentException: label_index does not exist. Available: Age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship , race, sex, capital-gain, capital-loss, hours-per-week, native-country, label, CrossValidator_4a789af0bc59_rand, numerical_features, scaled_features

Defining my model

In [ ]:

# Convert the label column to numeric (if it's categorical)
indexer = StringIndexer(inputCol="label", outputCol="indexed_label")

# Define the model
lr = LogisticRegression(featuresCol="scaled_features", labelCol="indexed_label")

# Build the pipeline
pipeline = Pipeline(stages=[
    indexer,  # Add StringIndexer to convert label to numeric
    VectorAssembler(inputCols=numerical_columns, outputCol="numerical_features"),
    StandardScaler(inputCol="numerical_features", outputCol="scaled_features", withMean=True, withStd=True),
    lr
])

# Define the parameter grid for tuning
param_grid = ParamGridBuilder() \
    .addGrid(lr.regParam, [0.01, 0.1, 1.0]) \
    .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0]) \
    .build()

# Define the evaluator
evaluator = BinaryClassificationEvaluator(labelCol="label_index", metricName="areaUnderROC")

# Define the CrossValidator
cross_val = CrossValidator(estimator=pipeline,
                           estimatorParamMaps=param_grid,
                           evaluator=evaluator,
                           numFolds=5,  # Number of folds
                           parallelism=2)  # Parallelism for faster processing

# Perform cross-validation and fit the best model on the training data
cv_model = cross_val.fit(data1)  # Use your pre-split training data

# Retrieve the best model from cross-validation
best_model = cv_model.bestModel

# Make predictions on the test data (use your pre-split test data here)
predictions = best_model.transform(data)  # Use your existing test data

# Evaluate the performance on the test set
roc_auc = evaluator.evaluate(predictions)
print(f"Best Model AUC on Test Data: {roc_auc}")